[submodule "contracts/telos.decide/libraries/telos.contracts"]
	path = contracts/telos.decide/libraries/telos.contracts
	url = https://github.com/telosnetwork/telos.contracts
[submodule "bindings/libs/pybind11"]
	path = bindings/libs/pybind11
	url = https://github.com/pybind/pybind11
[submodule "bindings/libs/eos"]
	path = bindings/libs/eos
	url = https://github.com/guilledk/eos.git
